@font-face {
    font-family: 'Rubik Distressed';
    src: url("../fonts/RubikDistressed-Regular.ttf") format('truetype');
}
@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto-Regular.ttf") format('truetype');
}